body {
  background: #1E3E62;
  background-position: center;
}
.App {
  margin: 2rem 6rem;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 5px;
}
.header {
  display: flex;
  justify-content: center;
  height: 40vh;
  
}
h1 {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: bold;
  font-size: 160px;
  color: #FF6500;
}
.bigBoxOfWeek {
  display: flex;
  justify-content: right;
  margin-right: 200px;
}
.bigBoxOfInput {
  border-radius: 20px;
  border: 1px solid #FF6500;
  border-color: transparent;
  font-size: 20px;
  margin: 15px;
  padding: 15px;
}
.boxOfWeek {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.boxOfInput {
  width: 30%;
  height: 5vh;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  font-style: italic;
  text-align: center;
}
.btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #FF6500;
  box-shadow: 2px 2px 2px 2px;
  color: black;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #F8EDED;
}
.boxOfGoals {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.boxOfChek {
  display: flex;
  flex-direction: column;
}
.goalsInput {
  padding: 10px;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 3px;
}
.boxOfLabel {
  display: flex;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.boxOfNewText{
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #FF6500;
}
.containerIcons {
  display: flex;
  align-items: center;
}
.addWeek {
  color: orange;
}
.bigBox {
  display: flex;
  justify-content: center;
}
.boxDayOfWeek {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerOfDay {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  width: 40%;
  padding: 20px;
  margin: 20px;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #FF6500;
}
.boxOfWater {
  padding: 10px;
}
.nameOfDay {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  color: #FF6500;
}
.weekBoxOfLabel {
  display: flex;
  justify-content: space-around;
}
.boxOfWeek {
  color: #F8EDED;
}
.radio {
  border-radius: 50%;
  background-color: orange;
  width: 50%;
  height: 5vh;
  margin: 40px;
}
.boxOfRadio {
  display: flex;
  justify-content: center;
}
.boxOfNewWeek {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
  width: 30%;
  border-bottom: 1px solid #FF6500;
}
.addDay{
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  color: #B43F3F;
}
.headBoxOfGoals {
  font-size: 15px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  color: #B43F3F;
}
@media all and (max-width: 850px) {
  h1 {
    font-size: 100px;
  }
  .nameOfDay {
    font-size: 15px;
  }
  .containerOfDay {
    width: 60%;
  }
  .radio {
    display: none;
  }
  h4 {
    font-size: 15px;
  }
  .boxOfWater {
    padding: 3px;
  }
  .App {
    margin: 1rem 3rem;
  }
  .bigBoxOfWeek {
    margin-right: 0;
  }
}
